html,body{
    overflow-y:scroll;
    font-size:18px;
    height:100%;
}

.bottom{
    position:fixed;
    bottom:0;
    width:100%;
    padding:5px;
    background:#fff;
    border-top:1px solid #777;
}

.home-container{
    display:flex;
    display:-webkit-flex;
    flex-direction:column;
    background:red;
    height:200px;
    width:200px;
}

.full-img{
    width:100%;
}

.home-item2{
    display:flex;
    display:-webkit-flex;
}
.course-img{
    flex:0 0 8%;
}

.course-list{
    width:100%;
    display:flex;
    display:-webkit-flex;
    flex-flow:row wrap;
    justify-content:space-between;
    padding:0 2rem 0 2rem;
}
.course-detail{
    flex:0 1 500px;
    display:flex;
    display:-webkit-flex;
    flex-direction:column;
    margin:0.2rem;
    margin-bottom:90px;
    border:1px solid #ddd;
    box-shadow:0 3px #ddd;
}
.course-desc{
    line-height:20px;
}

.small-img{
    width:100%;
    height:7rem;
}

.price{
    color:#ee4339;
}

.font-active{
    color:#108ee9;
}
.font-disable{
    color:#777;
}

.course-empty{
    width:20vw;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:25vh;
    margin-left:40vw;
}

.empty-hint{
    display:block;
    width:100%;
    margin-top:20px;
}

.icon-img{
    height:20px;
}

.text-center{
    text-align:center;
}

.setting-content{
    width:60vw;
    margin:2vh 20vw 2vh 20vw;
}

.setting-list{
    height:8vh;
    min-height:25px;
    border-bottom:1px solid #ddd;
    line-height:8vh;
    color:#777;
}

.setting-list:hover{
    color:#108ee9;
}

